# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Codegym\Bai-Tap\Code\Module-3\9.Tongquan-webapp\thuchanh-chuyendoi-tiente\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
